{% extends 'header.html' %}
{% load static %}
{% block content%}
   <body>
      <!-- loader Start -->
      <style>
          .zoom-on-hover {
              transition: transform 0.3s ease-in-out; /* Ajoute une transition douce pour l'effet de zoom */
          }

          .zoom-on-hover:hover {
              transform: scale(2); /* Applique le zoom au survol */
          }
      </style>
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
      <!-- Sidebar  -->
          {% include 'slide.html' %}
      <!-- TOP Nav Bar -->
          {% include 'top_navbar.html' %}
      <!-- TOP Nav Bar END -->
      <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Liste des véhicules</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="table-responsive">
                           <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-6">
                                 <div id="user_list_datatable_info" class="dataTables_filter">
                                       <div class="form-group mb-0">
                                           <form class="mr-3 position-relative" method="get" action="{% url 'vehicule:vehicul_search' %}">
                                               <div class="col-sm-10">
                                                   <input type="text" class="form-control" id="numero" value="{{ request.GET.q }}" name="q" placeholder="Rechercher par Marque, modèle, ou matricule...">
                                               </div>
                                               <button type="submit" class="btn btn-primary">Rechercher</button>
                                           </form>
                                       </div>
                                 </div>
                              </div>
                           </div>
                           <table id="user-list-table" class="table table-striped table-borderless mt-4" role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                 <tr>
                                     <th>Marque</th>
                                     <th>Modèle</th>
                                     <th>Couleur</th>
                                     <th>Numéro d'immatriculation</th>
                                     <th>Date de mise en service</th>
                                     <th>Type de carburant</th>
                                     <th>Kilométrage</th>
                                     <th>Année de fabrication</th>
                                     <th>Image</th>
                                     <th>Actions</th>
                                 </tr>
                             </thead>
                             <tbody>
                             {% if vehicules %}
                                {% for vehicule in vehicules %}
                                     <tr>
                                         <td>{{ vehicule.marque }}</td>
                                         <td>{{ vehicule.modele }}</td>
                                         <td>{{ vehicule.couleur }}</td>
                                         <td>{{ vehicule.numero_immatriculation }}</td>
                                         <td>{{ vehicule.date_mise_en_service }}</td>
                                         <td>{{ vehicule.get_type_carburant_display }}</td>
                                         <td>{{ vehicule.kilometrage }}</td>
                                         <td>{{ vehicule.annee_fabrication }}</td>
                                         <td> <img src="{{ vehicule.image.url }}" style="max-width: 100px"> </td>
                                        <td>
                                           <div class="flex align-items-center list-user-action">
                                               <a class="zoom-on-hover iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier" href="{% url 'vehicule:modifier_vehicule' pk=vehicule.pk %}"><i class="ri-pencil-line"></i></a>
                                               <a class="zoom-on-hover iq-bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer" data-vehicle-id="{{ vehicule.pk }}" href="#" onclick="confirmDelete(this)"><i class="ri-delete-bin-line"></i></a>
                                               <a class="zoom-on-hover iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Telecharger les informations du vehicule" data-vehicle-id="{{ vehicule.pk }}" href="#" onclick="confirmDeleted(this)"><i class="ri-upload-2-fill"></i></a>
                                           </div>
                                        </td>
                                     </tr>
                                {% endfor %}
                             {% else %}
                                 <tr>
                                     <td colspan="10" class="text-center">Aucun véhicule disponible</td>
                                 </tr>
                             {% endif %}
                             </tbody>
                           </table>
                        </div>
                           <div class="row justify-content-between mt-3">
                              <div id="user-list-page-info" class="col-md-6">
                                 <span>Affichage de 1 à 5 sur 5 entrées</span>
                              </div>
                              <div class="col-md-6">
                                 <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end mb-0">
                                       <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
                                       </li>
                                       <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                       <li class="page-item"><a class="page-link" href="#">2</a></li>
                                       <li class="page-item"><a class="page-link" href="#">3</a></li>
                                       <li class="page-item">
                                          <a class="page-link" href="#">Suivant</a>
                                       </li>
                                    </ul>
                                 </nav>
                              </div>
                           </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- Wrapper END -->
    <!-- Footer -->
      {% include 'footer.html' %}

      <!-- Modal de confirmation -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteModalLabel" style="display: flex; justify-content: center; align-items: center;">Confirmation de la suppression</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Êtes-vous sûr de vouloir supprimer ce véhicule ?
                  </div>
                  <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-danger" onclick="executeDelete()">Confirmer</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal fade" id="confirmDeleteModald" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabeld" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteModalLabeld">Confirmation l'exportation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Êtes-vous sûr de vouloir exporter les informations de ce véhicule ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-danger" onclick="executeDeleted()">Confirmer</button>
                  </div>
              </div>
          </div>
      </div>

      <script>
          // Fonction pour afficher le modal de confirmation
          function confirmDelete(linkElement) {
              var vehicleId = linkElement.getAttribute('data-vehicle-id');
              // Afficher le modal
              $('#confirmDeleteModal').modal('show');

              // Enregistrer l'ID du véhicule dans un champ caché du modal
              $('#confirmDeleteModal').data('vehicle-id', vehicleId);
          }

          // Fonction pour exécuter la suppression
          function executeDelete() {
              // Récupérer l'ID du véhicule depuis le champ caché du modal
              var vehicleId = $('#confirmDeleteModal').data('vehicle-id');

              // Rediriger vers l'URL de suppression avec l'ID du véhicule
              window.location.href = "{% url 'vehicule:supprimer_vehicule' 0 %}".replace(0, vehicleId);

              // Fermer le modal
              $('#confirmDeleteModal').modal('hide');
          }


          function confirmDeleted(linkElement) {
              var vehicleId = linkElement.getAttribute('data-vehicle-id');
              // Afficher le modal
              $('#confirmDeleteModald').modal('show');

              // Enregistrer l'ID du véhicule dans un champ caché du modal
              $('#confirmDeleteModald').data('vehicle-id', vehicleId);
          }

          // Fonction pour exécuter la suppression
          function executeDeleted() {
              // Récupérer l'ID du véhicule depuis le champ caché du modal
              var vehicleId = $('#confirmDeleteModald').data('vehicle-id');

              // Rediriger vers l'URL de suppression avec l'ID du véhicule
              window.location.href = "{% url 'vehicule:vehicule_pdf' 0 %}".replace(0, vehicleId);

              // Fermer le modal
              $('#confirmDeleteModal').modal('hide');
          }
      </script>
</body>
{% endblock %}