{% extends 'header.html' %}
{% load static %}
{% block content%}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
          {% include 'slide.html' %}
         <!-- TOP Nav Bar -->
          {% include 'top_navbar.html' %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-lg-6  ">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Horizontal Form</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>
                           <form class="form-horizontal" action="/action_page.php">
                              <div class="form-group row">
                                 <label class="control-label col-sm-2 align-self-center mb-0" for="email">Email:</label>
                                 <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="Enter Your  email">
                                 </div>
                              </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Marque:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="marque" placeholder="Enter Your  email">
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Model:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="model" placeholder="Enter Your  email">
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Couleur:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="couleur" placeholder="Enter Your  email">
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Numero d'immatriculation:</label>
                                   <div class="col-sm-10">
                                       <input type="text" class="form-control" id="numero" placeholder="Enter Your  email">
                                   </div>
                               </div>
                              <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="submit" class="btn iq-bg-danger">cancle</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include 'footer.html' %}
   </body>
{% endblock %}