{% extends 'header.html' %}
{% load static %}
{% block content%}
   <body>
   <style>
       .zoom-on-hover {
           transition: transform 0.3s ease-in-out; /* Ajoute une transition douce pour l'effet de zoom */
       }

       .zoom-on-hover:hover {
           transform: scale(1.1); /* Applique le zoom au survol */
       }
   </style>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
          {% include 'slide.html' %}
         <!-- TOP Nav Bar -->
          {% include 'top_navbar.html' %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-lg-6  ">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Formulaire d'ajout de vehicule</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <form class="form-horizontal" method="post" action="{% url 'vehicule:Ajouter_vehicule' %}">
                               {% csrf_token %}
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Marque:</label>
                                   <div class="col-sm-10">
                                       {{ form.marque }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Modele:</label>
                                   <div class="col-sm-10">
                                       {{ form.modele }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Couleur:</label>
                                   <div class="col-sm-10">
                                       {{ form.couleur }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Numero d'immatriculation:</label>
                                   <div class="col-sm-10">
                                       {{ form.numero_immatriculation }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Date mise en service:</label>
                                   <div class="col-sm-10">
                                       {{ form.date_mise_en_service }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Annee fabrication:</label>
                                   <div class="col-sm-10">
                                       {{ form.annee_fabrication }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">type carburant:</label>
                                   <div class="col-sm-10">
                                       {{ form.type_carburant }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">kilometrage:</label>
                                   <div class="col-sm-10">
                                       {{ form.kilometrage }}
                                   </div>
                               </div>
                               <div class="form-group">

                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include 'footer.html' %}
      <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true" style="top:0; bottom: 0">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="successModalLabel" style="display: flex; justify-content: center; align-items: center;">Vehicul ajouter avec succes!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                      <img src="{% static 'images/Success.gif' %}" alt="GIF animé" style="max-width: 30%; height: auto;">
                  </div>
                  <div class="modal-footer text-center" style="display: flex; justify-content: center; align-items: center;">
                      <button type="button" class="zoom-on-hover btn btn-danger align-items-center" data-dismiss="modal">Fermer</button>
                      <a type="button" class="zoom-on-hover btn btn-success align-items-center text-white" href="{% url 'vehicule:liste_vehicules' %}">Voir tout les vehiculs</a>
                  </div>
              </div>
          </div>
      </div>

   <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" style="top:0; bottom: 0">
       <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
               <div class="modal-header h4 text-center" style="text-align: center">
                   Erreur lors de l'ajout du véhicule
               </div>
               <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                   <div id="formErrors" class="text-danger h5">
                      <div class="text-center"> <img src="{% static 'images/error.gif' %}" alt="GIF animé" style="max-width: 30%; height: auto;text-align: center"><br></div>
                       {% if form_errors %}
                           {% for field, errors in form_errors.items %}
                               <p><strong>{{ field|title }}:</strong> {{ errors.0 }}</p>
                           {% endfor %}
                       {% endif %}
                   </div>
               </div>
               <div class="modal-footer text-center" style="display: flex; justify-content: center; align-items: center;">
                   <button type="button" class="zoom-on-hover btn btn-danger align-items-center" data-dismiss="modal">Fermer</button>
               </div>
           </div>
       </div>
   </div>
   <script>
       {% if success %}
           $(document).ready(function() {
               $('#successModal').modal('show');
           });
       {% endif %}

       {% if form_errors %}
           $(document).ready(function() {
               $('#errorModal').modal('show');
           });
       {% endif %}
   </script>


   </body>
{% endblock %}