{% extends 'header.html' %}
{% load static %}
{% block content%}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
          {% include 'slide.html' %}
         <!-- TOP Nav Bar -->
          {% include 'top_navbar.html' %}
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-lg-6  ">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Horizontal Form</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>
                           <form class="form-horizontal" method="post" >
                               {% csrf_token %}
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Marque:</label>
                                   <div class="col-sm-10">
                                       {{ form.marque }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Modele:</label>
                                   <div class="col-sm-10">
                                       {{ form.modele }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Couleur:</label>
                                   <div class="col-sm-10">
                                       {{ form.couleur }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Numero d'immatriculation:</label>
                                   <div class="col-sm-10">
                                       {{ form.numero_immatriculation }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Date mise en service:</label>
                                   <div class="col-sm-10">
                                       <input type="date" class="form-control" id="exampleInputdate" value="2019-12-18" name="date_mise_en_service">
{#                                       {{ form.date_mise_en_service }}#}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">Annee fabrication:</label>
                                   <div class="col-sm-10">
                                       <input type="date" class="form-control" id="exampleInputdate" value="2019-12-18" name="annee_fabrication">
{#                                       {{ form.annee_fabrication }}#}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">type carburant:</label>
                                   <div class="col-sm-10">
                                       {{ form.type_carburant }}
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-2 align-self-center mb-0" for="email">kilometrage:</label>
                                   <div class="col-sm-10">
                                       {{ form.kilometrage }}
                                   </div>
                               </div>
                               <div>
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    <a href="{% url 'vehicule:liste_vehicules' %}" class="btn iq-bg-danger">Annuler</a>
                              </div>
                               {% if form.errors %}
                                   {% for field, errors in form.errors.items %}
                                       {% for error in errors %}
                                           <div class="alert alert-dark mt-4" role="alert">
                                               <strong>Erreur :</strong> {{ error }}
                                           </div>
                                       {% endfor %}
                                   {% endfor %}
                               {% endif %}
                           </form>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      {% include 'footer.html' %}
   </body>
{% endblock %}