{% extends 'header_user.html' %}
{% load static %}
{% block content%}

<style>
section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.container1 {

  text-align: center;
  width: 2000px;
  height: 700px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
     margin: 0 auto;
    display: block; /* Utilisation d'une grille CSS */
    grid-template-columns: 1fr; /* Une colonne pour empiler verticalement */
    grid-gap: 200px; /* Espacemeµ*/
}
.boxes {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
  transition: 1s all ease-in-out;
}
#box1 {
  opacity: 1;
  top: 0;
  background: linear-gradient(to top, #9376ff,  #5f49b9);
  color: #fff;
}
#box2 {
  top: 0;
  opacity: 0;
}
#box3 {
  opacity: 0;
  background: linear-gradient(to top, #9376ff,  #5f49b9);
  color: #fff;
  top: -300%;
  left: 50%;
}
#box4 {
  opacity: 1;
  top: -300%;
  left: 50%;
}
h2, p {
  margin-bottom: 15px;
}
p {
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.btn1 {
  padding: 6px 36px;
  border: 1.5px solid #fff;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  margin: 10px auto;
  &:hover {
    background: #fff;
    color: #9376ff;
  }
}
.form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.fab {
    display: inline-block;
    line-height: 40px;
    width: 42px;
    border: 1px solid #000;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 50%;
  }
  .form form {
    input {
      width: 100%;
      display: block;
      height: 40px;
      margin: 0 auto 10px auto;
      text-align: left;
      padding: 10px;
      background: rgba(0,0,0,0.05);
      border: none;
      border-radius: 2px;
    }
    button {
      padding: 8px 36px;
      border: none;
      background: #9376ff;
      border-radius: 30px;
      color: #fff;
      border: 1.5px solid #9376ff;
      margin-top: 5px;
      &:hover {
        cursor: pointer;
        background: #fff;
        color: #9376ff;
      }
    }
    a {
      text-decoration: none;
      font-size: 12px;
      color: #9376ff;
    }
  }
.alt-text {
  font-size: 12px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
    /* Pour les écrans de portable */
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 850px;
    }

    .boxes {
        width: 90%; /* Utilisation de % pour la largeur */
        margin-bottom: 20px; /* Ajout de marge en bas pour espacer les boîtes */
        height: 1600px;
    }

    #box3, #box4 {
        order: 2; /* Changer l'ordre d'affichage des boîtes de formulaire */
    .form {
            margin-right: 420px;
            margin-top: 1300px;
            width: 100%; /* Utilisation de % pour la largeur */
            padding: 20px;

        }
    }

    #box2 {
          order: 2;   /* Assurez-vous de spécifier les styles appropriés pour #box1 et #box2 */
  }
}

    </style>

<body>
<!-- Nav Bar Start -->
{% include 'nav-bar.html' %}

<section class="text-center">
<div class="container">
    <div class="row">

          <div class="container1">

              <div class="boxes" id="box1">
                <h2>Rejoignez-nous dès maintenant !</h2>
                <p>Votre aventure commence ici. <br> Inscrivez-vous pour accéder à toutes nos offres exclusives !.</p>
                <a href="#" class="btn1 btnSignIn">Se connecter</a>
              </div>
              <div class="boxes" id="box2">
                <div class="form">
                  <h2>Se connecter</h2>
                  <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                  </div>
                  <p class="alt-text">Créer un compte</p>
                  <form method="post">
                      {% csrf_token %}
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <a href="#" id="forgotpw">Mot de passe oublié? </a><br/>
                    <button>Se connecter</button>
                  </form>
                </div>
              </div>

              <div class="boxes" id="box3">
                <h2>Content de vous revoir!</h2>
                <p>Pour rester connecté avec nous et profiter de tous nos services, <br> veuillez vous connecter avec vos informations personnelles.</p>
                <a href="#" class="btn1 btnSignUp">S'INSCRIRE</a>
              </div>
              <div class="boxes" id="box4">
                <div class="form">
                  <h2>Créer un compte</h2>
                  <div class="social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                  </div>
                  <p class="alt-text">ou utilisez votre email pour vous inscrire </p>
                  <form action="#">
                    <input type="text" placeholder="Username">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password"><input type="text" placeholder="Username">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <a href="#" id="forgotpw">Mot de passe oublié?</a><br/>
                    <button>S'INSCRIRE</button>
                  </form>
                </div>
              </div>
        </div>
              </div>
</div>
</section>

<!-- Section: Design Block -->

<script >
    "Use Strict"

window.addEventListener("load", () => {

  // Grab the buttons
  let signIn = document.querySelector(".btnSignIn");
  let signUp = document.querySelector(".btnSignUp");

  // Grab the boxes
  let box1 = document.querySelector("#box1");
  let box2 = document.querySelector("#box2");
  let box3 = document.querySelector("#box3");
  let box4 = document.querySelector("#box4");

  // Add function on click sign in button
  signIn.addEventListener("click", (e) => {
    box1.style.top = "100%";
    box1.style.opacity = "0";
    box2.style.top = "-100%";
    box2.style.opacity = "1";
    box3.style.top = "-200%";
    box3.style.opacity = "1";
    box4.style.top = "-400%";
    box4.style.opacity = "0";
  })

  // Add function on click sign up button
  signUp.addEventListener("click", (e) => {
    box1.style.top = "0";
    box1.style.opacity = "1";
    box2.style.top = "0";
    box2.style.opacity = "0";
    box3.style.top = "-300%";
    box3.style.opacity = "0";
    box4.style.top = "-300%";
    box4.style.opacity = "1";
  })
})
</script>

{% include 'footer_user.html' %}
</body>
{% endblock %}