{% extends 'header_user.html' %}
{% load static %}
{% block content%}

<body>
<!-- Nav Bar Start -->

{% include 'nav-bar.html' %}
        <!-- Bottom Bar End --> 
        
        
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <form  method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">  
                          <div class="login-form">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Username</label>
                                      <input class="form-control" type="text" placeholder="Username" name="username" required>
                                  </div>

                                  <div class="col-md-6"></div>
                                  <div class="col-md-12">
                                      <label>Password</label>
                                      <input class="form-control" type="password" placeholder="Password" name="password" required>
                                  </div>
                                  <div class="col-md-6"></div>

                                  <div class="col-md-12">
                                      <button class="btn">Se Connecter</button>
                                  </div>
                                  {% if form.errors %}
                                      {% for field, errors in form.errors.items %}
                                          {% for error in errors %}
                                              <div class="alert alert-danger mt-4" role="alert">
                                                  <strong>{{ field }} :</strong> {{ error }}
                                              </div>
                                          {% endfor %}
                                      {% endfor %}
                                  {% endif %}
                              </div>
                          </div>

                      </div>

                            
                        </div>
                        <div class="col-md-3"></div>
                        <div class=" col-md-3 login-link1 ">
                          <p>Vous avez pas de compte ? <a href="register.html">Inscrivez-vous</a></p>
                      </div>
                        
                    </div>
                    
                </div>
            </form>
            </div>
        <!-- Login End -->
        
        <!-- Footer Start -->

        <!-- Footer End -->

{% include 'footer_user.html' %}
</body>
{% endblock %}