{% extends 'header_conducteur.html' %}
{% load static %}
{% block content %}
    <body>
    <style>
        .title {
            color: #333;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
        .dropzone-actions {
            display: flex;
            justify-content: space-between;
            padding-top: 1.5rem;
            margin-top: 1.5rem;
            border-top: 1px solid var(--gray);
            gap: 1rem;
            flex-wrap: wrap;
        }

        .dropzone-actions button {
            flex-grow: 1;
            min-height: 3rem;
            font-size: 1.2rem;
        }

        .dropzone-actions button:hover {
            text-decoration: underline;
        }

        .dropzone-actions button[type='reset'] {
            background-color: transparent;
            border: 1px solid var(--gray);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: var(--primary);
            cursor: pointer;
        }

        #submit-button {
            background-color: red;
            border: 1px solid var(--primary);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: var(--white);
            cursor: pointer;
        }
        #return-button {
            background-color: white;
            border: 1px solid var(--primary);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: black;
            cursor: pointer;
        }
    </style>
    <nav class="Entete" style=" justify-content: center; align-items: center;">
        <div class="col-2">
            <a href="{% url 'utilisateur:liste_mission' %}">
                <i class="fas fa-arrow-left" style="color: #4c0ab8; font-size: 50px"></i> </a>
        </div>
        <div id="entete-container" class="col-7" style="text-align: center; color: white; font-weight: bold; margin-left: 50px;">
            <span>DETAILS DEPLACEMENT</span>
        </div>
    </nav>
    <div class="content " id="content-container">
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="tab-content" style="margin-top: 50px">
                            <div class="tab-pane fade show active text-center " id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                                <div class="title row" style="text-align: center">
                                   Informations de la demande de prolongement
                                </div>
                                <div class="infodeplacement">
                                    <div class="row">
                                        <div class="col-5" style="text-align: left">
                                            <b>Véhicule :</b>
                                        </div>
                                        <div class="col">
                                            {{ deplacement_details.vehicule }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"  style="text-align: left">
                                            <b>Conducteur :</b>
                                        </div>
                                        <div class="col">
                                            {{ deplacement_details.conducteur }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"  style="text-align: left">
                                            <b>Date de départ :</b>
                                        </div>
                                        <div class="col">
                                            {{ deplacement_details.date_depart }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"  style="text-align: left">
                                            <b>Kilométrage au départ :</b>
                                        </div>
                                        <div class="col">
                                            {{ deplacement_details.kilometrage_depart }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"  style="text-align: left">
                                            <b>Durée du déplacement :</b>
                                        </div>
                                        <div class="col">
                                            {{ deplacement_details.duree_deplacement }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5"  style="text-align: left">
                                            <b>Photo de la jauge :</b>
                                        </div>
                                        <div class="col">
                                            <img src="{{ deplacement_details.photo_jauge_depart.url }}" alt="Photo de la jauge" class="img-fluid" width="100" style="font-size: 10px">
                                        </div>
                                    </div>
                                </div>
                                <div id="events">
                                    {% if image_deplacement %}
                                        {% for image in image_deplacement %}
                                            <a  class="event">
                                                <div class="event__image">
                                                    <img src="{{ image.images.url }}" alt="The Weeknd">
                                                </div>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="dropzone-actions">
                                  <button id="return-button" type="button" onclick="window.location.href='{% url 'utilisateur:liste_mission' %}'">
                                      Retour
                                  </button>
                                    {% if deplacement_details.date_depart == aujourdhui %}
                                    <button id="submit-button" type="submit">
                                        Refuser déplacement
                                    </button>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer_conducteur.html' %}
    </body>
{% endblock %}
