{% extends 'header_conducteur.html' %}
{% load static %}
{% block content %}
    <style>
        .no-requests p:first-child {
            margin-bottom: 5px;
            font-size: 1.1em;
        }
        .no-requests p:last-child {
            margin-top: 5px;
            font-weight: bold;
            color: #007bff;
        }
        .notification-icon i {
            color: #39399b;
            font-size: 25px;
        }

        .notifi-box {
            background-color: white;
            width: 300px;
            height: 0px;
            opacity: 0;
            position: absolute;
            top: 63px;
            right: 35px;
            transition: 1s opacity, 250ms height;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .notifi-box h2 {
            font-size: 14px;
            padding: 10px;
            border-bottom: 1px solid #eee;
            color: #999;
        }
        .notifi-box h2 span {
            color: #f00;
        }
        .notifi-item {
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 15px 5px;
            margin-bottom: 15px;
            cursor: pointer;
        }
        .notifi-item:hover {
            background-color: #eee;
        }
        .notifi-item img {
            display: block;
            width: 50px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .notifi-item .text h4 {
            color: #777;
            font-size: 16px;
            margin-top: 10px;
        }
        .notifi-item .text p {
            color: #aaa;
            font-size: 12px;
        }
        .notif:hover{
            background-color: #9e60d9;
            color:white;
        }

    </style>
    <body>
    {% url 'utilisateur:prolongement_lu_details' as prolongement_lu_details %}
    <nav class="Entete" style=" justify-content: center; align-items: center;">
    <div class="col-2">
        <a href="{% url 'utilisateur:liste_mission' %}">
            <i class="fas fa-arrow-left" style="color: #4c0ab8; font-size: 50px"></i> </a>
    </div>
        <div id="entete-container" class="col-7" style="text-align: center; color: white; font-weight: bold; margin-left: 50px;">
                <span>DETAILS DE LA DEMANDE</span>
        </div>
        <div class="notifi-box" id="box">
            <h2>Notifications</h2>
            <div  style="overflow-y: auto">
                {% if prolongements_non_lus %}
                    {% for prolongement in prolongements_non_lus %}
                        <div class="notifi-item" id="accepte_{{ prolongement.id }}">
                            <div class="post notif">
                                <div class="user-blo">
                                    <span class="username">
                                         <a href="#">Deplacelement {{ prolongement.deplacement }}</a>
                                     </span>
                                    <span class="description">Recu {{ prolongement.time_since_reponse }}</span>
                                </div>
                                <p class="text">
                                    {{ prolongement.motif|truncatewords:6  }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    auccune notifiaction
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="content " id="content-container">
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="tab-content">
                            <div class="tab-pane fade show {% if request.path == prolongement_lu_details %}active{% else %} {% endif %} text-center " id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                                <h6 style="color: #333;">Informations de la demande de prolongement</h6>

                                <ul style="list-style-type: none; padding-left: 0;">
                                    <li style="color: #555;">
                                        La demande de prolongement que vous avez effectuée le {{ prolongement_details.date_mise_a_jour }} pour une durée de  {{ prolongement_details.duree }} jours
                                        qui a pour motif "{{ prolongement_details.motif }}" a été
                                        {% if prolongement_details.refuser %}
                                            <span style="color: red;">refusée</span>
                                        {% elif prolongement_details.accepter %}
                                            <span style="color: green;">acceptée</span>
                                        {% endif %}
                                        . Votre déplacement prendra fin le {{ prolongement_details.deplacement.date_fin }}.
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer_conducteur.html' %}
    </body>
{% endblock %}
