{% extends 'header.html' %}
{% load static %}
{% block content%}
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    {% include 'slide.html' %}
    <!-- TOP Nav Bar -->
{% include 'top_navbar.html' %}
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Tous les conducteurs</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="user_list_datatable_info" class="dataTables_filter">
                                            <form class="mr-3 position-relative">
                                                <div class="form-group mb-0">
                                                    <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="user-list-files d-flex float-right">
                                            <a class="iq-bg-primary" href="javascript:void();" >
                                                Print
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Excel
                                            </a>
                                            <a class="iq-bg-primary" href="javascript:void();">
                                                Pdf
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% if conducteurs %}
                                <table id="user-list-table" class="table table-striped table-borderless mt-4" role="grid" aria-describedby="user-list-page-info">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom </th>
                                        <th>Numero</th>
                                        <th>Adresse</th>
                                        <th>Date de naissance</th>
                                        <th>Date d'embauche</th>
                                        <th>Numero du permis </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>

                                    </thead>
                                    {% for conducteur in conducteurs %}
                                    <tbody>

                                    <tr>
                                        <td>{{ conducteur.nom}}</td>
                                        <td>{{ conducteur.prenom}}</td>
                                        <td>{{ conducteur.numero_telephone}}</td>
                                        <td>{{ conducteur.adresse}}</td>
                                        <td>{{ conducteur.date_de_naissance}}</td>
                                        <td>{{ conducteur.date_embauche}}</td>
                                        <td>{{ conducteur.numero_permis_conduire}}</td>
                                        <td><span class="badge dark-icon-light iq-bg-primary">Active</span></td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add" href="#"><i class="ri-user-add-line"></i></a>
                                                <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{% url 'conducteur:modifier_conducteur' conducteur.id %}"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-danger" data-toggle="tooltip" data-placement="top" title="Delete" href="#" onclick="confirmDelete('{{ conducteur.id }}')"> <i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                        <!-- Modal de confirmation pour chaque conducteur -->
                                        <div class="modal fade" id="confirmDeleteModal{{ conducteur.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{ conducteur.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="confirmDeleteModalLabel{{ conducteur.id }}">Confirmation de la suppression</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Êtes-vous sûr de vouloir supprimer ce conducteur ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <a href="#" class="btn btn-danger" onclick="deleteConducteur('{{ conducteur.id }}')">Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                </table>

                            </div>
                            <div class="row justify-content-between mt-3">
                                <div id="user-list-page-info" class="col-md-6">
                                    <span>Showing 1 to 5 of 5 entries</span>
                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            {% else %}
                                    <table id="user-list-table" class="table table-striped table-borderless mt-4" role="grid" aria-describedby="user-list-page-info">
                                    <thead>

                                    <tr>
                                        Aucun conducteurs disponible
                                    </tr>
                                    </thead>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% include 'footer.html' %}
<script>
    function confirmDelete(conducteurId) {
        // Afficher le modal de confirmation
        $('#confirmDeleteModal' + conducteurId).modal('show');
    }

    function deleteConducteur(conducteurId) {
        // Effectuer la suppression en utilisant JavaScript ou AJAX
        window.location.href = "{% url 'conducteur:supprimer_conducteur' 0 %}".replace('0', conducteurId);
    }
</script>

</body>
{% endblock %}