{% extends 'header.html' %}
{% load static %}
{% block content%}
    <body>
    <style>
        /* Custom modal size */
        .modal-custom {
            max-width: 90%; /* Adjust as needed */
        }
        .modal-dialog.modal-custom .modal-content {
            width: 100%; /* Ensure full width */

        }
        .modal-photo {
            max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
            max-height: 300px; /* Ajustez la hauteur maximale selon vos besoins */
            margin-left: 50px /* Ajustez l'espace entre entre les photos selon vos besoins */;
            margin-bottom: 50px /* Ajustez l'espace entre entre les photos selon vos besoins */;
        }
        #photo-container{

            max-height: 300px; /* Définir la hauteur maximale selon vos besoins */
            overflow-y: auto; /* Activer la barre de défilement verticale si nécessaire */
        }
        #motifParagraph,
        #dureeParagraph{
        }


    </style>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include 'slide.html' %}
        <!-- TOP Nav Bar -->
        {% include 'top_navbar.html' %}
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-0">
                            <form class="mr-3 position-relative" method="get" action="{% url 'deplacement:deplacement_encours_search' %}">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="search" value="{{ request.GET.q }}" name="q" placeholder="Rechercher conducteur, marque, modèle ou matricule">
                                </div>
                                <button type="submit" class="btn btn-primary">Rechercher</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ms-0" style="margin-top: 0">
                        {% if no_results %}
                            <p>Aucun résultat trouvé pour la recherche "{{ request.GET.q }}".</p>
                        {% endif %}
                    </div>


                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Liste des tous les deplacements en cours</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <div class="table-responsive">
                                    <table id="user-list-table" class="table table-striped table-borderless mt-4" role="grid" aria-describedby="user-list-page-info">
                                        <thead>
                                        <tr style="background-color: #6546d2; color: #ffffff">
                                            <th>Conducteur</th>
                                            <th>Vehicule</th>
                                            <th>Date de départ</th>
                                            <th>Duree</th>
                                            <th>Kilometrage</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if deplacements %}
                                            {% for deplacement in deplacements %}
                                                <tr>
                                                    <td>{{ deplacement.conducteur }}</td>
                                                    <td>{{ deplacement.vehicule }}</td>
                                                    <td>{{ deplacement.date_depart }}</td>
                                                    <td>{{ deplacement.duree_deplacement }}</td>
                                                    <td>{{ deplacement.kilometrage_depart }} Km/h</td>
                                                    <td>
                                                        {% if deplacement.id in prolongement_encours and deplacement.id not in prolongement_arrive and deplacement.id not in prolongement_accepte %}
                                                            <!-- Bouton prolongement avec attribut data-deplacement-id -->
                                                            <button type="button" class="btn mb-3 btn-info terminer-btn2 prolongement-btn" data-target="#prolongementModal{{ deplacement.id }}" data-toggle="modal" data-deplacement-id="{{ deplacement.id }}">
                                                                <i class="ri-shuffle-fill"></i>
                                                                Prolongement demandé
                                                            </button>
                                                        {% elif deplacement.id not in  prolongement_encours and deplacement.id  not in  prolongement_arrive or deplacement.id  not in  prolongement_accepte %}
                                                            <button type="button" class="btn mb-3 btn-success terminer-btn2" data-toggle="modal" data-target="#exampleModalScrollable" data-deplacement-id="{{ deplacement.id }}" {% if prolongement %}data-prolongement-id="{{ prolongement.id }}"{% endif %}>
                                                                <i class="ri-flag-2-fill"></i>
                                                                Terminer
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <!-- Pop up pour la demade -->
                                                <div class="modal fade" id="prolongementModal{{ deplacement.id }}" tabindex="-1" role="dialog" aria-labelledby="prolongementModalTitle{{ deplacement.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-scrollable modal-custom" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="prolongementModalTitle{{ deplacement.id }}">Informations sur le prolongement</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% for prolongement in prolongements %}
                                                                    {% if prolongement.deplacement_id == deplacement.id %}
                                                                        <p><strong>Motif :</strong> {{ prolongement.motif }}</p>
                                                                        <p><strong>Durée :</strong> {{ prolongement.duree }} </p>
                                                                         <p><strong>Photo de la jauge :</strong> <img style="max-width: 200px; height: auto" src="{{ prolongement.photo_jauge_demande.url }}" alt="photo_jauge_demande"> </p>
                                                                        <div id="photo-container"></div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        <form action="{% url 'deplacement:accept_prolongement' prolongement.id %}" method="post">
                                                                            {% csrf_token %}
                                                                            <button id="accepterButton"  type="submit" class="btn btn-success mr-auto">ACCEPTER</button>
                                                                        </form>
                                                                        <form action="{% url 'deplacement:refuse_prolongement' prolongement.id %}" method="post">
                                                                        {% csrf_token %}
                                                                        <button id="refuserButton" type="submit" class="btn btn-danger">REFUSER</button>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </form>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="10">Aucun service disponible</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row justify-content-between mt-3">
                                    <div id="user-list-page-info" class="col-md-6">
                                        <span>Affichage de {{ deplacements.start_index }} à {{ deplacements.end_index }} sur {{ deplacements.paginator.count }} entrées</span>
                                    </div>
                                    <div class="col-md-6">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end mb-0">
                                                {% if deplacements.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ deplacements.previous_page_number }}">Précédent</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <span class="page-link">Précédent</span>
                                                    </li>
                                                {% endif %}

                                                {% for num in deplacements.paginator.page_range %}
                                                    {% if num == deplacements.number %}
                                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if deplacements.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ deplacements.next_page_number }}">Suivant</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <span class="page-link">Suivant</span>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel" style="display: flex; justify-content: center; align-items: center;">Confirmation de l'arrivée du conducteur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Etat arrivé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="iq-card-body">
                    <form class="form-horizontal" id="DeplacementArriverForm" method="post" enctype="multipart/form-data" action="{% url 'deplacement:enregistrer_etatArriver' %}">
                        {% csrf_token %}
                        <input type="hidden" id="deplacement_id" name="deplacement_id">
                       <div class="form-group row">
                            <label class="control-label col-sm-2 align-self-center mb-0" for="photo_jauge_arrive">Photo de la jauge:</label>
                            <div class="form-control col-sm-10" style="border-radius: 10px">
                                <input  required  placeholder="Choisir une image" type="file" class="form-control-file" accept="image/*"  id="customFile" name="photo_jauge_arrive"  value="{% if form.photo_jauge_arrive.value %}{{ form.photo_jauge_arrive.value }}{% endif %}">
                            </div>
                            {% if form.photo_jauge_depart.errors %}
                                <p class="help-block">Veillez joindre une image</p>
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-2 align-self-center mb-0" for="kilometrage_arrive">Kilometrage:</label>
                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" id="kilometrage_arrive" name="kilometrage_arrive">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="customFile" class="font-weight-bold">Sélectionner des images :</label>
                            <div class="form-control h-auto" style="border-radius: 10px">
                                <input  multiple required placeholder="Choisir une image" type="file" class="form-control-file" accept="image/*"  id="customFile" name="images"  value="{% if form.images.value %}{{ form.images.value }}{% endif %}">
                            </div>
                            {% if form.image.errors %}
                                <p class="help-block">Veillez joindre une image</p>
                            {% endif %}


                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fermerModal()">Fermer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script>
        $(document).ready(function() {
            $('.terminer-btn2').on('click', function() {
                var deplacementId = $(this).data('deplacement-id');
                $('#deplacement_id').val(deplacementId);
            });
        });

        function fermerModal() {
            $('#exampleModalScrollable').modal('hide');
        }
    </script>

    <!-- Scripts pour recuperer les elements de la demande de prolongement-->
    <script>
        $(document).ready(function () {
            $('.prolongement-btn').on('click', function () {
                var prolongementId = $(this).data('prolongement-id');
                // Utilisez prolongementId comme nécessaire pour afficher les informations dans le modal
                // Par exemple, vous pouvez mettre à jour le contenu du modal avec jQuery
                $('#prolongementModal').modal('show');
            });
        });
    </script>

    <script>


        document.addEventListener('DOMContentLoaded', function() {
            var prolongementButtons = document.querySelectorAll('.prolongement-btn');

            prolongementButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var deplacementId = button.getAttribute('data-deplacement-id');

                    // Envoi de la demande AJAX pour récupérer les photos associées à la demande de prolongement
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == XMLHttpRequest.DONE) {
                            if (xhr.status == 200) {
                                var response = JSON.parse(xhr.responseText);
                                var photoUrls = response.photos;
                                // Mettre à jour le contenu du modal avec les photos récupérées
                                var modalId = button.getAttribute('data-target');
                                var modal = document.querySelector(modalId);
                                var photoContainer = modal.querySelector('#photo-container');
                                photoContainer.innerHTML = ""; // Effacer le contenu précédent
                                photoUrls.forEach(function(photoUrl) {
                                    var img = document.createElement('img');
                                    img.src = photoUrl;
                                    img.classList.add('modal-photo');
                                    photoContainer.appendChild(img);
                                });
                            } else {
                                console.error("Erreur lors de la récupération des photos associées à la demande de prolongement : " + xhr.status);
                            }
                        }
                    };
                    xhr.open("GET", "{% url 'deplacement:get_photos_demande_prolongement' %}?id_deplacement=" + deplacementId, true);
                    xhr.send();
                });
            });
        });



    </script>


    </body>
{% endblock %}