
{% extends 'header.html' %}
{% load static %}
{% block content%}
    <body>
    <style>

        body {
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            font-size: 16px;

        }

        .container {
            margin-top: 50px;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        .tableau {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th {
            background-color: #6546d2;
            color: #fff;
            border-radius: 10px 10px 0 0;
        }

        .badge-success {
            background-color: #28a745;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
        }

        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .center-text {
            text-align: center;
        }
        .content-to-export{
            margin-top: 0;
        }
        .zoom-on-hover {
            transition: transform 0.3s ease-in-out;
        }

        .bouton_telecharger:hover {
            transform: scale(1.2);
        }
    </style>
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include 'slide.html' %}
        <!-- TOP Nav Bar -->
        {% include 'top_navbar.html' %}
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="content-page1" class="content-page1">
                            <div class="content-to-export" id="content-to-export">

                                <div class="tableau" id="tableau" >
                                    <table class="table" id="table" style="left: auto; right: auto; padding: 20px">
                                        <thead style="height: 100px; text-align: center; font-size: 25px">
                                        <tr>
                                            <th colspan="6">Informations du deplacement -<span style="font-size: 20px"></span> <i class="ri-roadster-line"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>VEHICULE :</strong></td>
                                            <td class="center-text">{{ deplacement.vehicule }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>CONDUCTEUR :</strong></td>
                                            <td class="center-text">{{  deplacement.conducteur }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>DATE DE DEPARTE :</strong></td>
                                            <td class="center-text">{{ deplacement.date_depart }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>DUREE DE DEPLACEMENT :</strong></td>
                                            <td class="center-text">{{ deplacement.duree_deplacement }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>KILOMETRAGE DE DEPART :</strong></td>
                                            <td class="center-text">{{ deplacement.kilometrage_depart }} Km/h</td>
                                        </tr>
                                        <tr>
                                            <td><strong>NIVEAU DE CARBURANT :</strong></td>
                                            <td class="center-text">{{ deplacement.niveau_carburant }} Litres</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="imageContent"  style="align-items: center; text-align: center;">
                                        <div>  <label style="display: block; text-align: center;text-decoration: underline;text-underline: #0b0b0b">PHOTOS DU VEHICULE AU DEPART</label></div>
                                        {% for image in image %}
                                            <img src="{{ image.images.url }}" alt="profile-img" class="vehicule-image" onclick="showImagePopup2('{{ image.images.url }}')" style=" display: inline-block;white-space: nowrap;max-width: 20%; height: auto; margin-left: 150px; margin-top: 10px">
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <a style="text-align: center; font-size: 50px; margin-left: 50%; margin-right: auto" class="zoom-on-hover iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modifier le deplacement" href="{% url 'deplacement:modifier_deplacement' pk=deplacement.pk %}"><i style="font-size: 60px" class="ri-edit-2-fill"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script>
        function showImagePopup2(imageUrl) {
            var popupImage = document.createElement('img');
            popupImage.src = imageUrl;
            popupImage.style.maxWidth = '80%';
            popupImage.style.minWidth = '60%';
            var popupContainer = document.createElement('div');
            popupContainer.appendChild(popupImage);
            popupContainer.style.position = 'fixed';
            popupContainer.style.top = '50%';
            popupContainer.style.width = '90%';
            popupContainer.style.height = 'auto';
            popupContainer.style.left = '50%';
            popupContainer.style.transform = 'translate(-50%, -50%)';
            popupContainer.style.background="transparent";
            popupContainer.style.padding = '70px';
            popupContainer.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';
            popupContainer.style.zIndex = '9999';
            document.body.appendChild(popupContainer);

            popupContainer.addEventListener('click', function (event) {
                if (event.target === popupContainer) {
                    document.body.removeChild(popupContainer);
                }
            });
        }

    </script>
    </body>
{% endblock %}