{% extends 'header_admin.html' %}
{% load static %}
{% block content%}
    <body>
    <style>
        button {
            border-radius: 5px; /* Bord arrondi */
            border: 1px solid #ccc; /* Bordure */
            font-size: 16px; /* Taille de la police */
            cursor: pointer; /* Curseur en main */
            background-color: #6A4ECCFF; /* Couleur de fond */
            color: #FFFFFF;
        }

        /* Au survol du bouton */
        button:hover {
            background-color: #858181; /* Couleur de fond au survol */
        }
    </style>
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include 'slide_admin.html' %}
        {% include 'top_navbar_admin.html' %}
        <div id="content-page" class="content-page">

            {{ html_content|safe }}
        </div>
        <div class="text-right mt-3" id ="bouton">
            <button onclick="generatePDF()">TELECHARGER</button>
            <button onclick="printContent()">IMPRIMER</button>
        </div>
    </div>
    {% include 'footer.html' %}

    <script>
        function generatePDF() {
            var contentPage = document.getElementById('content-page');

            // Perform any necessary modifications to the contentPage before generating PDF

            var options = {
                filename: '{{ titre }}.pdf', // Set your desired filename here
                html2canvas: { scale: 2 },
                margin: 10,
                image: { type: 'jpeg', quality: 0.98, margin: { top: 10, right: 100 } },
                output: { quality: 1.0 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };

            html2pdf().from(contentPage).set(options).save();
        }

        function printContent() {
            var content = document.getElementById("content-page").innerHTML;
            var originalBody = document.body.innerHTML;
            document.body.innerHTML = content;
            window.print();
            document.body.innerHTML = originalBody;
        }
    </script>
    </body>

{% endblock %}
