{% load static %}
<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="index.html">
            <div class="iq-light-logo">
                <div class="iq-light-logo">
                    <img src="images/logo.gif" class="img-fluid" alt="">
                </div>
                <div class="iq-dark-logo">
                    <img src="images/logo-dark.gif" class="img-fluid" alt="">
                </div>
            </div>
            <div class="iq-dark-logo">
                <img src="images/logo-dark.gif" class="img-fluid" alt="">
            </div>
            <span>Vito</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                </div>
            </div>
        </div>
    </div>

            {% url 'vehicule:Ajouter_vehicule' as vehicule_Ajouter_vehicule_url %}
            {% url 'vehicule:liste_vehicules' as vehicule_liste_vehicules_url %}
            {% url 'conducteur:tous_les_conducteurs' as conducteur_liste_conducteur_url %}
            {% url 'conducteur:ajouter_conducteur' as conducteur_ajouter_conducteu_url %}
            {% url 'deplacement:enregistrer_deplacement' as deplacement_enregistrer_deplacement_url %}
            {% url 'deplacement:liste_deplacement' as deplacement_liste_deplacement_url %}
            {% url 'deplacement:liste_deplacement_en_cours' as deplacement_liste_deplacement_en_cours_url %}
            {% url 'deplacement:liste_deplacement_arrive' as deplacement_liste_deplacement_arrive_url %}
            {% url 'incident:enregistrer_incident' as enregistrer_incident_url %}
            {% url 'incident:liste_incidents_externe' as liste_incident_externe_url %}
            {% url 'incident:liste_incidents_interne' as liste_incident_interne_url %}

    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Home</span></li>
                <li >
                    <a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Dashboard</span></a>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                <li class="{% if request.path == vehicule_Ajouter_vehicule_url or request.path == vehicule_liste_vehicules_url %}active{% endif %}">
                    <a href="#vehicule" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-car"></i><span>Vehicule</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="vehicule" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="{% if request.path == vehicule_Ajouter_vehicule_url %}active{% endif %}" ><a href="{% url 'vehicule:Ajouter_vehicule' %}"><i class="ri-profile-line"></i>Ajouter</a></li>
                        <li class="{% if request.path == vehicule_liste_vehicules_url %}active{% endif %}"><a href="{% url 'vehicule:liste_vehicules' %}"><i class="ri-file-edit-line"></i>List</a></li>
                    </ul>
                </li>
                <li class="{% if request.path == conducteur_liste_conducteur_url or request.path == conducteur_ajouter_conducteu_url %}active{% endif %}" >
                    <a href="#conducteur" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-line"></i><span>Conducteur</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="conducteur" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="{% if request.path == conducteur_ajouter_conducteu_url %}active{% endif %}"><a href="{% url 'conducteur:ajouter_conducteur' %}"><i class="ri-profile-line"></i>Ajouter un conducteur</a></li>
                        <li class=" {% if request.path == conducteur_liste_conducteur_url %}active{% endif %}"><a href="{% url 'conducteur:tous_les_conducteurs' %}"><i class="ri-file-edit-line"></i>Liste des conducteurs</a></li>
                    </ul>
                </li>
                <li class="{% if request.path == deplacement_enregistrer_deplacement_url or request.path == deplacement_liste_deplacement_url  or request.path == deplacement_liste_deplacement_en_cours_url or request.path == deplacement_liste_deplacement_arrive_url %}active{% endif %}">
                    <a href="#deplacement" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-paper-plane"></i><span>Deplacement</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="deplacement" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="{% if request.path == deplacement_enregistrer_deplacement_url %}active{% endif %}" ><a href="{% url 'deplacement:enregistrer_deplacement' %}"><i class="ri-profile-line"></i>Ajouter</a></li>
                        <li class="{% if request.path == deplacement_liste_deplacement_url %}active{% endif %}" ><a href="{% url 'deplacement:liste_deplacement' %}"><i class="ri-file-edit-line"></i>En attente de départ</a></li>
                        <li class="{% if request.path == deplacement_liste_deplacement_en_cours_url %}active{% endif %}" ><a href="{% url 'deplacement:liste_deplacement_en_cours' %}"><i class="ri-file-edit-line"></i>En cours...</a></li>
                        <li class="{% if request.path == deplacement_liste_deplacement_arrive_url %}active{% endif %}" ><a href="{% url 'deplacement:liste_deplacement_arrive' %}"><i class="ri-file-edit-line"></i>Arrivé</a></li>
                    </ul>
                </li>

             <li class="{% if request.path == enregistrer_incident_url or request.path == liste_incident_externe_url   or request.path == liste_incident_interne_url  %}active{% endif %}">
                    <a href="#incidents" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="fa fa-paper-plane"></i><span>Incidents</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="incidents" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                    <ul id="incidents" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="{% if request.path == enregistrer_incident_url %}active{% endif %}" ><a href="{% url 'incident:enregistrer_incident' %}"><i class="ri-profile-line"></i>Enregistrer</a></li>
                        <li class="{% if request.path == liste_incident_interne_url %}active{% endif %}" ><a href="{% url 'incident:liste_incidents_interne' %}"><i class="ri-file-edit-line"></i>Liste incidents interne </a></li>
                        <li class="{% if request.path == liste_incident_externe_url %}active{% endif %}" ><a href="{% url 'incident:liste_incidents_externe' %}"><i class="ri-file-edit-line"></i>Liste incidents externe</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>